.carousel {
  margin-top: 10px;
  height: 50vh;
}

.card {
  font-family: "SF Pro Display";
  width: 75%;
  height: 45vh;
  background: #fff;
  color: rgb(0, 0, 0);
  margin: 0 30px;
}
.card h1 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.card img {
  margin-top: 4vh;
  height: 35vh;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .carousel {
    margin: 0;
  }
}
