.carousel {
  width: 70%;
  margin: 80px 200px;
}
.text {
  width: auto;
  text-align: center;
  justify-content: center;
  height: auto;
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .carousel {
    margin: 20px;
    margin-left: 50px;
  }
}
