.home {
  background-color: black;
  width: 100%;
  height: 80vh;
  border-bottom-left-radius: 90% 20%;
  border-bottom-right-radius: 90% 20%;
  display: grid;
}
.text {
  color: white;
  font-size: 0.7rem;
  margin: 0;
  display: flex;
  height: 3vh;
  justify-content: center;
  align-items: center;
}
.maintext {
  font-size: 5rem;

  background: linear-gradient(90deg, #000, #fff, #000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3.5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
.autor {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.subtext {
  color: rgb(109, 3, 158);
  font-size: 1.5rem;
  margin-top: 25px;
}

.minitext {
  color: white;
  font-size: 0.7rem;
}

@media screen and (max-width: 1024px) {
  .home {
    height: 40vh;
    max-width: 100%;
    display: block;
    margin: 0;
  }
  .autor {
    margin: 0;
    padding: 0;
    width: 80%;
    position: relative;

    text-align: start;
  }
  .text {
    font-size: 0.3rem;
  }
  .maintext {
    margin: 0;
    padding: 0;
    height: 10vh;

    font-size: 1.7rem;
    animation: shine 2.5s linear infinite;
  }
  .subtext {
    height: auto;
    font-size: 1rem;
  }
}
