@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display";
  margin: 0;
  background-color: #ffffff;
}
@media screen and (max-width: 1024px) {
  body {
    max-width: 100%;
    height: auto;
  }
}
